
.tro{
    height: 300px;
    width: 600px;
    background-color: #9f0622;
    position: absolute;
}
.tro1{
    height: 70px;
    width: 600px;
    background-color: white;
    margin-top: 110px;
}
